body {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 10px;

  max-width: 860px;

  background-color: black;
  color: rgb(14, 206, 80);
  /* line-height: 1.1; */
  font-family: monospace;
}

.list {
  line-height: 0.6;
}

a {
  color: rgb(1, 111, 50);
}

h1,
h2,
h3,
h4,
hr {
  color: rgb(14, 206, 80);
}
